<div class="min-h-screen bg-gray-100 p-6">

  <div class="max-w-4xl mx-auto bg-white rounded-2xl shadow-lg p-6">

    <!-- Header -->
    <h1 class="text-3xl font-bold bg-gradient-to-r from-blue-600 to-purple-600 text-transparent bg-clip-text">
  🤖   AI Log Analyzer
    </h1>
    <!-- Input -->
    <textarea
      [(ngModel)]="logs"
      rows="8"
      placeholder="Paste your logs here..."
      class="w-full p-4 border rounded-xl focus:ring-2 focus:ring-blue-500 outline-none resize-none"
    ></textarea>

    <!-- Button -->
    <button
      (click)="analyze()"
      class="mt-4 bg-blue-600 text-white px-6 py-2 rounded-xl hover:bg-blue-700 transition"
    >
      Analyze Logs
    </button>

    <!-- Loading -->
    <div *ngIf="loading" class="mt-4 text-blue-600 font-medium">
      ⏳ Analyzing logs...
    </div>

    <!-- Result Card -->
    <div *ngIf="result" class="mt-6 p-4 bg-gray-50 rounded-xl border">

      <h2 class="text-xl font-semibold mb-2">Summary</h2>
      <p class="text-gray-700 mb-4">{{ result.summary }}</p>

      <!-- Errors -->
      <div>
        <h3 class="font-semibold text-red-600">Errors</h3>
        <ul class="list-disc ml-6 text-gray-700">
          <li *ngFor="let e of result.errors">{{ e }}</li>
        </ul>
      </div>

      <!-- Fixes -->
      <div class="mt-4">
        <h3 class="font-semibold text-green-600">Fixes</h3>
        <ul class="list-disc ml-6 text-gray-700">
          <li *ngFor="let f of result.fixes">{{ f }}</li>
        </ul>
      </div>
    </div>

    <!-- Kafka Results -->
    <div class="mt-8">

      <h2 class="text-xl font-semibold mb-3">
        📡 Kafka Processed Results
      </h2>

      <div *ngFor="let r of results" class="p-3 mb-2 bg-white border rounded-lg shadow-sm">
        <p class="font-medium text-gray-800">{{ r.summary }}</p>
      </div>

    </div>

  </div>

</div>